*{
    margin: 0px;
}

.hero{
    position: relative;
}

.hero > .overlay {
    position: absolute;
    top: 30vw;
 
    margin: 6vw;
    padding: 2vw;
    color: rgb(253, 246, 236);
    font-family: Arial, Helvetica, sans-serif;
    background: rgba(167, 127, 79, 0.5);
    border-radius: 6px;
    box-shadow: .3px .3px 40px rgb(87, 45, 45);
}
h1 {
    text-transform:capitalize ;
    margin:10px 10px 20px 0px;
}

p{
    margin-top: 20px;
}
.hero > .hero-img {
    display: block;
    overflow: visible;
    width: 100%;

}